LIST_CASES_API=https://officer.thaipoliceonline.go.th/api/e-form/v1.0/BpmProcInst/workflow/task-list-new?RequireTotalCount=true&Ext2=3527&RoleCode=MNG_BKK&Offset=0&Length=100&SortDesc=true&StartDate=%s&EndDate=%s&CategoryId=1&RequireStuckCase=false
LIST_RELATION_API=https://officer.thaipoliceonline.go.th/api/ccib/v1.0/CmsOnlineCaseInfo/897746/relation
BEARER_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx